.navbar {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
}



.logo h4 {
    font-size: 20px;
    margin: 10px;
    
}

.logo a{
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}
.logo img{
    height: 30px;
    margin-right: 10px;
    border-radius: 30%;
}

/* Right section styles */
.right-section {
    display: flex;
    align-items: center;
}

/* Form styles */
.form {
    display: flex;
    align-items: center;
}

.input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}

.submit {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #294058;
    color: #fff;
    cursor: pointer;
}

.button {
    margin-left: 10px;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    background-color: #827982;
    color: #fff;
    cursor: pointer;
}

/* Add these styles for the menu toggle button */
.menu-toggle {
    display: none; /* Initially hide the button */
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
}

.menu-toggle .line {
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000;
    margin: 5px 0;
    
}


/* Media queries for responsiveness */
@media only screen and (max-width: 882px) {
    .menu-toggle {
        display: block; /* Show the button on smaller screens */
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .right-section {
        display: none; /* Hide the right section on smaller screens */
    }
    .logo a{
        display: none;
    }
   

    .form {
        margin-right: 10px; /* Adjust the margin for the form */
    }
}